*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navigation{
    height: 100vh;
    width: 100px;
    background-color: #FFC297;
    display: inline-block;
}
.logo img{
    height: 50px;
    position: relative;
    top: 20px;
    left: 20px;
}
.iconhome img {
    height: 25px;
    position: relative;
    top: 30px;
    left: 34px;
}
.iconbell img{
    height: 25px;
    position: relative;
    top: 75px;
    left: 34px;
}
.iconcalendar img{
    height: 25px;
    position: relative;
    top: 120px;
    left: 34px;
}
.iconline img{
    height: 25px;
    position: relative;
    top: 165px;
    left: 30px;
}
.iconperson img{
    height: 25px;
    position: relative;
    top: 210px;
    left: 34px;
}
.iconcircle img{
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.iconsetting img{
    height: 30px;
    position: absolute;
    bottom: 35px;
    left: 35px;
}
.settings{
    background-color: #FFFFFF;
    display: inline-block;
    height: 100vh;
    width: 200px;
    vertical-align: top;
}
.InSideDiv h2{
    height: 30px;
    position: relative;
    top: 38px;
    left: 50px;
}
.iconarrow img{
    height: 30px;
    position: relative;
    left: 0;
    top: 4px;
}
.iconpencil img{
    height: 20px;
    position: relative;
    left: 50px;
    top: 24px;
}
ul{
    list-style: none;
}
.iconbell1 img{
    height: 20px;
    position: relative;
    left: 50px;
    top: 55px;
}
.iconlock img{
    height: 20px;
    position: relative;
    left: 50px;
    top: 90px;
}
.iconsetting1 img{
    height: 20px;
    position: relative;
    left: 50px;
    top: 115px;
}
.iconquestion img{
    height: 20px;
    position: relative;
    left: 50px;
    top: 141px;
}
.txt1 p{
    height: 20px;
    position: relative;
    left: 90px;
    top: 4px;
}
.txt2 p{
    height: 20px;
    position: relative;
    left: 90px;
    top: 35px;
}
.txt3 p{
    height: 20px;
    position: relative;
    left: 90px;
    top: 70px;
}
.txt4 p{
    height: 20px;
    position: relative;
    left: 90px;
    top: 90px;
}
.txt5 p{
    height: 20px;
    position: relative;
    left: 90px;
    top: 118px;
}